@import 'tailwindcss';
@theme {
  --color-body: #fff;
  --color-success: #19d16f;
  --color-danger: oklch(57.7% 0.245 27.325);
  --color-accent: #fb2e86;
  --color-black: #000000;
  --color-bright-gray: #e7e7ef;
  --color-magnolia: #f4f4fc;
  --color-light-gray: #a1a8c1;
  --color-silver: #bebfc2;
  --color-navy-blue: #1d3178;
  --color-light-blue: #0843fc;
  --color-input-placeholder: #c5cbe3;

  --font-roboto: 'Roboto', sans-serif;
  --font-lato: 'Lato', sans-serif;
}

