@import "tailwindcss";
@theme {
    /* === COLORS === */
    --color-body: #fff;
    --color-success: #19D16F;
    --color-danger: #FB2E86;
    --color-black: #000000;
    --color-bright-gray: #E8E6F1;
    --color-magnolia:#F4F4FC;
    --color-light-gray:#A1A8C1;
    --color-silver:#BEBFC2;
    --color-navy-blue:#1D3178;


    --font-roboto: "Roboto", sans-serif;
}


@layer utilities {
    /* Screen reader only */
    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
    }
}